@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  --Bright_Blue: hsl(220, 98%, 61%);
  --Check_Background: linear-gradient(#57ddff, #c058f3);
  /*light theme*/
  --Very_Light_Gray: hsl(0, 0%, 98%);
  --Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
  --Light_Grayish_Blue: hsl(233, 11%, 84%);
  --Dark_Grayish_Blue: hsl(236, 9%, 61%);
  --Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);
  /*dark theme*/
  --Very_Dark_Blue: hsl(235, 21%, 11%);
  --Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
  --Light_Grayish_Blue: hsl(234, 39%, 85%);
  --Light_Grayish_Blue_hover: hsl(236, 33%, 92%); /*hover*/
  --Dark_Grayish_Blue: hsl(234, 11%, 52%);
  --Very_Dark_Grayish_Blue: hsl(233, 14%, 35%);
  --Very_Dark_Grayish_Blue_dark: hsl(237, 14%, 26%);
}

body {
  height: 100vh;
  background-image: url(../images/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Very_Dark_Blue);
}

.header__container {
  margin: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  color: var(--Light_Grayish_Blue);
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

.task__insert-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  background-color: var(--Very_Dark_Desaturated_Blue);
  width: 90%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
}

.task__circle {
  margin-left: 1rem;
  margin-right: 0.5rem;
  height: 1rem;
  width: 1.2rem;
  background-color: var(--Very_Dark_Desaturated_Blue);
  border: solid 1px var(--Very_Dark_Grayish_Blue_dark);
  border-radius: 50%;
}

.task__circle-input {
  margin-left: 1rem;
  margin-right: 0.5rem;
  height: 1rem;
  width: 1.2rem;
  background-color: var(--Very_Dark_Desaturated_Blue);
  border: solid 1px var(--Very_Dark_Grayish_Blue_dark);
  border-radius: 50%;
}

.task__insert-input {
  background-color: var(--Very_Dark_Desaturated_Blue);
  border: none;
  width: 100%;
  color: var(--Light_Grayish_Blue);
  font-weight: 400;
  font-size: 1rem;
}

.task__insert-input:focus {
  outline: none;
}

.task__insert-input::placeholder {
  text-align: left;
  color: var(--Dark_Grayish_Blue);
}

.task__new-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem auto;
  background-color: var(--Very_Dark_Desaturated_Blue);
  width: 90%;
  height: 2.5rem;
  border-bottom: 1px solid var(--Dark_Grayish_Blue);
}

.task__new-container:first-child {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--Dark_Grayish_Blue);
}

.flex-container {
  display: flex;
  align-items: center;
}

ul {
  color: var(--Light_Grayish_Blue);
  align-self: flex-end;
}

.done-text {
  color: var(--Light_Grayish_Blue);
  align-self: flex-end;
  color: var(--Dark_Grayish_Blue);
  text-decoration: line-through;
}

.done {
  background: url(../images/icon-check.svg), var(--Check_Background);
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
  border-radius: 50%;
}

.del__btn {
  background-image: url(../images/icon-cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin-right: 1rem;
  background-color: transparent;
  color: transparent;
  text-decoration: none;
}

.counter__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem auto;
  background-color: var(--Very_Dark_Desaturated_Blue);
  width: 90%;
  height: 2.5rem;
  border: none;
  border-radius: 0 0 5px 5px;
}

.counter-item {
  color: var(--Dark_Grayish_Blue);
  margin: 0 1rem;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  background-color: var(--Very_Dark_Desaturated_Blue);
  width: 90%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
}

.filter__btn {
  background-color: transparent;
  border: none;
  color: var(--Dark_Grayish_Blue);
  font-size: 1rem;
  margin-left: 2rem;
}

.selected {
  background-color: transparent;
  border: none;
  color: var(--Bright_Blue);
  font-size: 1rem;
  margin-left: 2rem;
}

.filter__btn-selected:hover {
  cursor: pointer;
}

.filter__btn:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

#clearCompleted {
  cursor: pointer;
}

.attribution {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--Dark_Grayish_Blue);
}
.attribution a {
  color: var(--Light_Grayish_Blue);
}
